<div class="mt-12 flex flex-col justify-center items-center">
  <div
    class="w-[50%] border border-slate-300 rounded-md py-6 shadow-lg bg-slate-50"
  >
    <form
      class="flex flex-col items-center"
      [formGroup]="registerForm"
      (ngSubmit)="handleRegister(registerForm)"
    >
      <img src="assets/pic_profile.svg" class="w-32" />
      <h2
        class="my-6 text-3xl font-bold text-gray-700 text-center font-display cursor-pointer"
      >
        Welcome to Register Page
      </h2>

      <div
        class="relative my-auto border mb-2 hover:border-primary rounded-md p-2"
      >
        <span class="material-symbols-outlined absolute m-1 text-primary">
          person
        </span>
        <input
          class="pl-8 px-20 font-display outline-none bg-transparent"
          type="first_name"
          placeholder="first_name"
          id="first_name"
          formControlName="first_name"
        />
      </div>
      <div
        class="relative my-auto border mb-2 hover:border-primary rounded-md p-2"
      >
        <span class="material-symbols-outlined absolute m-1 text-primary">
          person
        </span>
        <input
          class="pl-8 px-20 font-display outline-none bg-transparent"
          type="last_name"
          placeholder="last_name"
          id="last_name"
          formControlName="last_name"
        />
      </div>
      <div
        class="relative my-auto border mb-2 hover:border-primary rounded-md p-2"
      >
        <span class="material-symbols-outlined absolute m-1 text-primary">
          mail
        </span>
        <input
          class="pl-8 px-20 font-display outline-none bg-transparent"
          type="email"
          placeholder="email"
          id="email"
          formControlName="email"
        />
      </div>
      <div
        class="relative my-auto border mb-2 hover:border-primary rounded-md p-2"
      >
        <span class="material-symbols-outlined absolute m-1 text-primary">
          lock
        </span>
        <input
          class="pl-8 px-20 font-display outline-none bg-transparent"
          type="password"
          placeholder="password"
          id="password"
          formControlName="password"
        />
      </div>
      <div class="flex mb-4 mt-2 gap-10">
        you have an account?
        <a
          routerLink="/login"
          class="capitalize font-bold cursor-pointer text-gray-700"
        >
          login
        </a>
      </div>

      <button
        type="submit"
        [disabled]="registerForm.invalid"
        class="py-3 px-20 bg-primary rounded-full text-white font-bold uppercase text-lg transform hover:translate-y-1 transition-all duration-500"
      >
        register
      </button>
    </form>
  </div>
</div>
